body {
    background-color: #2A3F54
}

.card {
    width: 400px;
    background-color: #fff;
    border: none;
    border-radius: 12px
}

.form-control {
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #2A3F54
}

.confirm-button {
    height: 50px;
    border-radius: 10px
}

.form-check-visit,
label,h5 {
    color: rgb(122, 118, 118);
}




